body {
	font-weight: 500;
	background: #F6F9FC;
	color: #0A2540;
	font-family: 'Lora', serif;
	background: url(images/landscape.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

h1, h2 {
	font-family: 'Roboto', sans-serif;
}
h1 {
	color: rgb(30, 30, 30);
	font-size: 42px;
	font-weight: 900;
	text-align: center;

}

h2 {
	color: #483A2C;
	font-size: 26px;
	font-weight: 700;
	
}


a {
	text-decoration: none;
	color: #6B72E1;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}

a:hover {
	color: black;
}

.img_circle {
	width: 300px;
	border-radius: 50%;
}

.text_center{
	text-align: center;
}

.div_classic{
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.7);
	border: 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
	padding: 30px 50px;
	margin: 20px 0px;
	text-align: center;
}

.div_principal{
	width: 1000px;
	margin: auto;
}


.btn_blue {
	background-color: #060047;
	color: white;
	padding: 12px 15px;
	border-radius: 5px;

}

.btn_blue:hover {
	background-color: rgba(255, 255, 255, 0.4);
	color: black;
}


@media (max-width: 940px) {
	.div_principal {
		width: 600px;
	}
}

@media (max-width: 550px) {
	.div_principal {
		width: 400px;
	}
}


.list_inlign {
	list-style: none;
	padding-left: 0px;

}

.list_inlign li {
	display: inline-block;
	padding: 12px;
}

.list_inlign i {
	font-size: 50px;
}

.text_justify{
	text-align: justify;
}

.text_weight{
	font-weight: bold;
}

aezdmkl,fe